/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  width: 100%;
  height: 95vh;
  margin: auto;
  background:
    radial-gradient(
      rgba(255, 245, 227, 0.99),
      rgba(255, 245, 227, 0.10)
    ),
    url('http://res.cloudinary.com/dms46o1eu/image/upload/v1451966901/benchwall_pqpjzs.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat fixed;
  font-family: cursive;
}
div header {
  width: 92%;
  margin: auto;
  margin-top: 1%;
  text-align: center;
  background-color: #fdf6e3;
  font-size: 40px;
  border: 5px solid wheat;
}
div header h1 {
  width: 35%;
  margin: auto;
}
div header h1:hover {
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
}
.map {
  position: relative;
  float: left;
  left: 4%;
  margin: 1% auto;
  width: 45%;
  height: 500px;
  background-color: #ffe9b6;
  border: 5px solid wheat;
}
div.bench-index {
  position: relative;
  float: right;
  right: 4%;
  margin: 1% auto;
  height: 500px;
  width: 45%;
  font-size: 20px;
  background-color: #ffedc3;
  overflow-y: auto;
  border: 5px solid wheat;
}
h1 {
  margin: 0px;
}
li {
  margin: 5px;
  list-style-type: none;
}
div.new-bench {
  text-align: center;
  background-color: #ffedc3;
  width: 50%;
  margin: 3% auto;
  padding: 2%;
  border: 5px solid wheat;
}
.new-bench-header {
  font-size: 35px;
}
form.bench {
  margin: auto;
  text-align: center;
}
label {
  text-decoration: underline;
  font-style: italic;
}
form.bench label, input {
  font-size: 18px;
  width: 25%;
  height: 40px;
  text-align: center;
  margin: auto;
}
form.bench input, textarea {
  background-color: transparent;
  border: none;
}
.latlng {
  position: relative;
  left: 1%;
}
select {
  height: 25px;
  background-color: transparent;
  font-size: 16px;
}
textarea {
  width: 90%;
  height: 30px;
  font-size: 18px;
  font-family: cursive;
  border-bottom: 1px solid grey;
}
button.create-button {
  font-size: 24px;
  background-color: transparent;
  border: none;
  font-family: cursive;
}
button.create-button:hover {
  font-weight: bold;
  text-decoration: underline;
}
.filters {
  text-align: center;
  background-color: wheat;
  border-bottom: 3px solid wheat;
}
.guide {
  clear: both;
  margin: auto;
  width: 92%;
  background-color: #fdf6e3;
  border: 5px solid wheat;
  margin-bottom: 1%;
}
.guide h1 {
  padding: 5px;
}
.guide ul {
  margin: 0px;
  font-size: 18px;
  padding: 1%;
}
img.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  float: left;
}
img.large {
  display: block;
  width: 95%;
  height: 60%;
  object-fit: cover;
  object-position: center;
  /*float: left;*/
  position: relative;
  margin: auto;
  margin-top: 1%;
  border: 5px solid wheat;
}
ul.index-item {
  position: relative;
  height: 100px;
  width: 65%;
  margin: auto;
}
ul.bench-info {
  clear: both;
  margin: 2%;
  width: 95;
  position: relative;
  /*float: right;*/
  padding: 0;
}
ul.bench-info li {
  width: 90%;
}
.bench-item {
  border-top: 1px solid gold;
  border-bottom: 1px solid gold;
  margin-left: 2%;
  margin-right: 2%;
}
.bench-item:hover {
  cursor: pointer;
  background-color: wheat;
}
ul.reviews {
  clear: both;
  margin: auto;
  width: 95%;
}
.bench-index ul {
  padding: 0;
}
.review-section {
  clear: both;
  margin: auto;
  width: 92%;
  background-color: #fdf6e3;
  border: 5px solid wheat;
  margin-bottom: 1%;
}
.review-section * {
  margin: 1%;
}
textarea#body {
  display: block;
  background-color: ivory;
  border: 3px solid ivory;
  margin: auto;
  height: 50%;
  width: 95%;
  text-decoration: none;
}
textarea#username {
  display: block;
  width: 30%;
  text-decoration: none;
}
button.submit-button {
  float: right;
  display: block;
  font-size: 18px;
  background-color: transparent;
  border: none;
  font-family: cursive;
  position: relative;
  right: 1%;
}
button.submit-button:hover {
  text-decoration: underline;
}
.review-item {
  border-top: 1px solid wheat;
  border-bottom: 1px solid wheat;
}
.timeago {
  float: right;
  color: grey;
}
.review-item p {
  clear: both;
}
